.cookies *{
    margin: 0;
    padding: 0;
    height: 100%;
    display: inline-block;
}

.Fabrikkaufen {
    margin: 10px;
    padding: 0px;
    height: 100%;
    display:block;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    background: radial-gradient(circle, #141A1C, #14191b ,#181f22, #141A1C);

    
  }
.table_content{
  background-color: #273638;
  border: #192224 2px solid;
}
.table_content:hover{
  background-color: #3e575a;
}
.STATS{
    margin-top: 4vh;
    height: auto;
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #75F6D8;
    gap: 4px;
    

}
.table{
  margin-top: 0vh;
  width: 20vw;
  height: 20vh;
  
}
.STATS > p {
  margin: 0;
  padding: 0;
}
.Upgrade_button_container{
  margin-top: 4vh;
  
  display: flex;
  align-items: center;
  padding-top: 0px;
  flex-direction: column;
  height:20vh;
    width:40vw;

}
  .Upgrades {
    
    margin-left: 0vw; 
    margin-top: 0vh;
    margin-bottom: auto;
    height:50vh;
    width:45vw;
  
   /* background: linear-gradient(to bottom, #1C2627, #1c2127);*/
    display: flex;
    align-items: center;
    padding-top: 0px;
    flex-direction: column;
    background: linear-gradient(to bottom, #1f2b2c, #14161c ,#1f2c28, #1f2b2c);
    border-radius: 4%;
}

.Upgrade_Button {
  
    height: 58%;
    width: 80%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #273638;
    color: #75F6D8;
    border: #192224 2px solid;
    
}
.Upgrade_Button:hover {
  background-color: #3e575a;
  
}
.box:hover {
  background-color: #3e575a;
  
}
.Container_Upgrades {
 
  
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content:center; /* Horizontale Ausrichtung der Container nach links */
  align-items: start; /* Vertikale Ausrichtung der Container nach oben */
}

.boxcontainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 20px;
  justify-content: flex-start; /* Boxen horizontal nach links ausrichten */
  align-items: flex-start; /* Boxen vertikal nach oben ausrichten */
}


.box {
  width: 60px;
  height: 60px;
  background: #273638;
  color: #75F6D8;
  display: flex;
  border-radius: 4%;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}


.box.active {
  background-color: #75F6D8;
  color: #141a1c;
}
.box.active.box:hover {
  background-color: #7cffe0;
  color: #101818;
}
.Kreiscontainer{display: flex;
  justify-content: center;
}
.cookie_img{
  display: flex;
  justify-content: center; /* horizontal */
  margin-top: 2vh;
  margin-bottom: 1vh;
  margin-left: 8vw;
    margin-right: 8vw;


    width: 15%;
    height: auto;
    border-radius: 100%;}


.cookie_img:hover {
  transition: 0.4s;
  filter: brightness(1.1); /* Increases brightness by 20% */
}
.cookie_img:active {
  transition: 0.4s;
  filter: brightness(1.2); /* Increases brightness by 20% */
}
.multiverse_img{
  display: flex;
  justify-content: center; /* horizontal */
  margin-top: 2vh;
  margin-bottom: 1vh;


    width: 15%;
    height: auto;
    border-radius: 100%;}


