.cookies *{
    margin: 0;
    padding: 0;
    height: 100%;
    display: inline-block;
}
.Fabrikkaufen {
    margin: 10px;
    padding: 0px;
    height: 100%;
    display:block;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #141A1C;

    
  }

.STATS{
    padding-top: 8px;
    height: auto;
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #75F6D8;
    gap: 4px;
    

}
.STATS > p {
  margin: 0;
  padding: 0;
}

  .Upgrades {
    height: 400px;
    width:500px;
    border-radius: 200px;
    background: linear-gradient(to bottom, #1C2627, #1c2127);
    display: flex;
    align-items: center;
    padding-top: 100px;
    flex-direction: column;
}

.Upgrade_Button {
    height: 80px;
    width: 280px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #273638;
    color: #75F6D8;
}
.Container_Upgrades {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-start; /* Horizontale Ausrichtung der Container nach links */
  align-items: flex-start; /* Vertikale Ausrichtung der Container nach oben */
}

.boxcontainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 20px;
  justify-content: flex-start; /* Boxen horizontal nach links ausrichten */
  align-items: flex-start; /* Boxen vertikal nach oben ausrichten */
}


.box {
  width: 60px;
  height: 60px;
  background: #273638;
  color: #75F6D8;
  display: flex;
  border-radius: 10px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}


.box.active {
  background-color: #75F6D8;
  color: #141A1C;
}